<!DOCTYPE html>
<html>
  <head>
    <title>Autoria</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autoria</h1>
    <div style="float: left;">
    <img src='/images/sara_arjona.jpg' title='Sara' alt='Sara' height='150px'/>
    </div>
    <div style="float: left; text-align: left;">
    Sara Arjona Téllez<br/>
    @sara_arjona<br/><br/>
    <a href="https://youtu.be/ZXCNipEH_2w" target="_blank">Vídeo entrevista #mootes14</a> [3:13]
    </div>
  </body>
</html>
