<form method="get" action="/quizes">
	Buscador de preguntas:
	<input type="text" name="search" value="<%= search %>" />
	<input type="submit" value="Buscar" />
</form>
<br/>
<table>
<% var i ; for (i=0; i < quizes.length; i++) { %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>
